[Desktop Entry]
Name=About Pardus
Name[tr]=Pardus Hakkında
GenericName=About
GenericName[tr]=Hakkında
Comment=Get info about your Pardus system.
Comment[tr]=Pardus sisteminiz hakkında bilgi edinin.
Exec=pardus-about
Icon=pardus-about
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=about
