[Desktop Entry]
Name=My Computer
Name[tr]=Bilgisayarım
GenericName=My Computer
GenericName[tr]=Bilgisayarım
Comment=My Computer, UI for information and management of disks on your computer.
Comment[tr]=Bilgisayarım, diskleriniz için bilgi ve yönetim arayüzü.
Exec=pardus-mycomputer
Icon=pardus-mycomputer
Terminal=false
Type=Application
Categories=Settings;
StartupNotify=true
Keywords=computer,mycomputer,pardus
